.scroll-float {
    display: inline-block;
    overflow: hidden;
}

.scroll-float-text {
    display: inline-block;
}

.scroll-float .char {
    display: inline-block;
    will-change: opacity, transform;
}